<div>
    <form (submit)="login()">
        <div>
            <label for="username">Username: </label>
            <input type="text" [(ngModel)]="credentials.username" name="username" placeholder="Username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password">
        </div>
        <div>
            <button>Log in</button>
        </div>
        <div>
            Don't have an account? <a routerLink="/signup">Sign up here</a>
        </div>
    </form>
</div>